:root {
  --black-color: #000;
  --white-color: #fff;
  --primary-color: #56ccde;
  --secundary-color: #9f9f9f;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5rem 0 8rem;
}

.search input {
  width: 50%;
  padding: 15px;
  background-color: var(--white-color);
  border: 1px solid black;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1.8rem;
  outline: none;
}

.search button {
  width: 130px;
  padding: 8px;
  background-color: var(--secundary-color);
  border: 1px solid var(--black-color);
  border-left: 1px solid var(--black-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.content--location {
  padding: 0 20px 0;
  margin: 2.8rem 0 1.8rem;
}

.content--location h3 {
  margin-bottom: .8rem;
  font-size: 4rem;
  font-weight: bolder;
}

.content--location p {
  font-size: 2rem;
}

.content--data__primary {
  display: flex;
  align-items: end;
  padding-bottom: 7rem;
  margin: 2rem 0 5rem;
  border-bottom: 1px solid #00000025;
}

.content--data__primary img {
  margin-left: 2rem;
  padding: 8px;
}

.content--data__primary div {
  margin-left: 3rem;
}

.content--data__primary div span {
  font-size: 5rem;
}

.content--data__primary div p {
  font-size: 2rem;
}

.content--details {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.content--details__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content--details__items span {
  font-size: 2.8rem;
}

.content--details__items > p{
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--black-color);
}

footer p {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--white-color);
}

footer p a {
  text-decoration: none;
  color: #00beef;
}

.content--error {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: rgb(52, 129, 245);
  color: var(--white-color);  
  font-size: 2rem;
  font-weight: 500;
  border-radius: 15px;
  white-space: nowrap;
}

.clear {
  padding: 0 4px;
  margin: 0 1rem;
  border: 1px solid var(--white-color);
  cursor: pointer;
}

@media screen and (min-width: 891px) {
  html {
    font-size: 75.5%;
  }

  body {
    background-color: rgb(86, 204, 222);
  }

  .content--data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    height: 35%;
    padding: 20px;
    margin: 2rem auto 8rem auto;
    background-color: var(--secundary-color);
    border-radius: 20px;
    box-shadow: 0 8px 15px var(--black-color);
  }

  .content--data__primary {
    padding: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .content--details {
    width: 30%;
  }
}

@media screen and (min-width: 1101px) {
  .navigator {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 8rem;
  }
  
  .search input {
    width: 100%;
  }
}