:root {
  --black-color: #000;
  --white-color: #fff;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: rgb(191, 255, 254);
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5rem 0 8rem;
}

.search input {
  padding: 10px;
  background-color: var(--white-color);
  border: 1px solid black;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}

.search button {
  padding: 8px;
  background-color: rgb(204, 204, 204);
  border: 1px solid var(--black-color);
  border-left: 1px solid var(--black-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.content--location {
  padding: 0 20px 0;
  margin: 2.8rem 0 1.8rem;
}

.content--location h3 {
  margin-bottom: .8rem;
  font-size: 4rem;
  font-weight: bolder;
}

.content--location p {
  font-size: 2rem;
}

.content--data__primary {
  display: flex;
  align-items: end;
  padding-bottom: 7rem;
  margin: 2rem 0 5rem;
  border-bottom: 1px solid #00000025;
}

.content--data__primary img {
  margin-left: 2rem;
  padding: 8px;
}

.content--data__primary div {
  margin-left: 3rem;
}

.content--data__primary div span {
  font-size: 5rem;
}

.content--data__primary div p {
  font-size: 2rem;
}

.content--details {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.content--details__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content--details__items span {
  font-size: 2.5rem;
}

.content--details__items > p{
  margin-bottom: 3rem;
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--black-color);
}

footer p {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--white-color);
}

footer p a {
  text-decoration: none;
  color: #00beef;
}

.content--error {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: rgb(52, 129, 245);
  color: var(--white-color);  
  font-size: 2rem;
  font-weight: 500;
  border-radius: 15px;
  white-space: nowrap;
}

.clear {
  padding: 0 4px;
  margin: 0 1rem;
  border: 1px solid var(--white-color);
  cursor: pointer;
}